<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="terraparBDLocaweb" connectionString="Data Source=mysql04.importarcontatos.com.br;Initial Catalog=importarcontat2;user id=importarcontat2;password=W4qvhf6c;Integrated Security=True"/>
    <add name="terraparBDLocal" connectionString="Data Source=localhost;Initial Catalog=terrapar;user id=root;password=root;Integrated Security=True"/>
  </connectionStrings>

</configuration>
